@{
    ViewData["Title"] = "Ethan Baker";
}

<body>
    <div class="intro" id="introduction">
        <div class="intro-content">
            <img src="~/images/backdrop.png" id="backdrop" />
            <img src="~/images/ethan-baker-headshot.png" height="720" width="720" id="headshot" />
            <div class="intro-right-container">
                <div id="title-text">
                    <h1 class="title"><strong id="title-strong">Hello,</strong><br id="title-break" /> I'm Ethan</h1>
                    <p id="tagline">A motivated Cornell undergrad interested in software engineering.</p>
                </div>
                <div class="intro-buttons">
                    <a href="https://www.linkedin.com/in/ethbak/overlay/1635529992399/single-media-viewer/?profileId =ACoAADl7IWEBK2Tbqdc--9ZwIt3cP0G4da72tqw" target="_blank" class="btn btn-primary">Résumé</a>
                    <a id="cal-btn" href="https://calendly.com/ethbak" target="_blank" class="btn btn-primary">Schedule a Call</a>
                    <a id="linkedin-button" href="https://linkedin.com/in/ethbak" target="_blank" class="btn btn-primary"><img id="linkedin-icon" src="images/linkedin-icon.png" height="128" width="128" alt="in"></a>
                </div>
            </div>
        </div>
        <a class="btn btn-secondary" href=#about-me id="see-more">See More<br/>v</a>
    </div>
    <article class="about" id="about-me">
        <h2>About <br /> me</h2>
        <p>
            I am a motivated and results-driven undergraduate student, currently pursuing my studies in Industrial and
            Labor Relations at Cornell University. With a strong educational foundation in computer science and a deep
            passion for the finance industry, I am dedicated to exploring the exciting overlap between these fields.
            Equipped with proficiency in programming languages such as Python and Java, as well as skills in financial
            modeling, I possess the necessary tools to drive impactful outcomes. As a junior in college, I am eager to
            apply my technical prowess and strategic mindset to a role that optimizes financial performance, enhances
            operational efficiency, and fosters digital transformation in the industry.
        </p>
    </article>
    <section class="education" id="edu-exp">
        <div class="edu-exp-title">
            <h2>Education & Experiences</h2>
            <button class="expand-hide" id="expand-edu">Expand<br/>v</button>
        </div>
    </section>
    <section class="projects" id="proj-skill">
        <div class="proj-skill-title">
            <h2>Projects & Skills</h2>
            <button class="expand-hide" id="expand-proj">Expand<br/>v</button>
        </div>
    </section>
</body>